# h1 : "Data Science tools and Ecosystem"

In this notebook,Data Science tools and Environment are summarized

Some of the popular languages that data scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries by data scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Tensorflow

To create tables, use: 
* **hyphens** <code>(----)</code> for column headers 
* **pipes** <code>|</code> to separate each column
* **Text on a new line** to separate each row


| Data Science Tools |
| ------------- |
| Jupyter Notebook |
| RStudio |
| Pycharm |

### h3: Below are a few examples of evaluating arithmetic expressions in python

In [2]:
#This a simple arithmetic expression to mutiply then add integers.

x = (3*4)+5
x

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.

min = 200
hrs = min/60
print("200 mins is equal to ",hrs,"hours")

200 mins is equal to  3.3333333333333335 hours

# Objectives
- List popular languages in data science
- Examples of evaluating arithmetic expressions
- List commonly used libraries by data scientists
- Writing h1 headers using markdown

## H2 : Author

Venkatakrishnan